.disable{
	display: none !important;
}
/*header hissesi*/
.headNav{
	margin-bottom: 0 !important;
	background: #3E4C4E;
	border: none;
	border-radius: 0px;
}
.topMenu *{
	color: #fff !important;
}
.dropdown-menu a{
	color: red !important;
}
.dropdown-toggle{
	background: #0f6f2e;
}
.topSearchIco{
	color: #555 !important;
}
/*termin elave et bolmesi*/
.terminForm{
	max-width: 400px;
}
.terminForm button[type="submit"]{
	background: rgb(63, 144, 32);
	color: #fff;
}
#terminInput{
	width: 200px;
}
/*axtaris hissesi*/
#search {
	height: 490px !important;
	background: linear-gradient(to bottom, #00bf8f , #001510) !important;
}
.searchGroup{
	margin-top: 200px !important;
	height: 50px;
}
.searchInp{
	height: 50px;
}
.searcForm{

}
.stylish-input-group .input-group-addon{
    background: white !important;
}

/*div with search input and search button*/
.stylish-input-group {
	padding-top: 150px !important;
}

/*form-control - class for search input*/
.stylish-input-group .form-control {
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.search_hover {
	background-color:#EBEBEB!important;
	color:#232323!important;
}

/*class for the search button which is inside the span tag*/
.input-group-addon button{
    border:0;
    background:transparent;
}

/*div for the result of an instant search*/
#output {
	height: 220px !important;
	border:1px solid #CCCCCC;
	padding: 0px;
	overflow: scroll !important;
}

#output ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

/*each result is inside the li tag*/
#output ul li {
	background-color:#FFFFFF;
	text-align: left;
}
/* profile page *//* profile page *//* profile page *//* profile page */
.my_main{
  height: 550px;
  padding: 0px !important;
}
.my_profile_leftside{
	background: linear-gradient(to bottom, #abbaab , #ffffff);
  padding: 10px;
  padding-top: 50px;
  height: 100%;
  overflow: hidden;
}
.mypara{
  display: inline-block;
  padding-top: 20px;
  font-size: 13px;
}
.my_profile{
  padding-top: 10px;
	padding-left: 20px;
  background: #fafafa;
  height: 100%;
}
.profilNav{
	margin-bottom: 20px;
}
.pp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(../img/p.png);
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 22px;
}
@media (min-width: 144px) {
  .pp{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../img/p.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 12px;
}
}
@media (min-width: 480px) {
  .pp{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(../img/p.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 14px;
}
}
@media (min-width: 768px) {
  .pp{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../img/p.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 17px;
}
}
@media (min-width: 992px) {
  .pp{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../img/p.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 20px;
}
}
@media (min-width: 1200px) {
  .pp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../img/p.png);
  background-size: cover;
}
}
/*my termin*//*my termin*//*my termin*//*my termin*//*my termin*/
.my_termin{
		margin-top: 10px;
		padding: 2px;
		padding-left: 10px;
		border-radius: 6px;
		box-shadow:0px 1px 7px rgba(50, 50, 50, 0.93);
	}
	.desct{
		margin-bottom: 0px !important;
		color: #404040;
	}
	#div1 {
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
}
.disp_in-block{
	display: inline-block;
}
.float_r{
	float: right;
}
.edit_button{
	width: 35px;
	height: 38px;
	border:0px;
	margin-top:5px;
	border-radius: 5px;
	margin-right: 3px;
	background: #2A60DE;
}
	.delete_glyphico{
		width: 35px;
		height: 38px;
		border:0px;
		border-radius: 5px;
		margin-right: 3px;
		margin-top: 8px;
		background: #ff4d4d;
	}
	.date{
		font-size: 14px;
		color: gray;
	}
	.date_time{
		color: lightgray;
		font-size: 12px;
	}
	.date_div{
		margin-right: 15px;

		/*margin-top:*/
	}
	.glyphicon-trash,.edit_button{
		color: white;
	}

	/*bookmarks*//*bookmarks*//*bookmarks*//*bookmarks*/
	.bookmark{
		margin-top: 10px;
		padding: 2px;
		padding-left: 10px;
		border-radius: 6px;
		box-shadow:0px 1px 7px rgba(50, 50, 50, 0.93);
	}
	.desct{
		margin-bottom: 0px !important;
		color: #404040;
	}
/*profil edit*//*profil edit*//*profil edit*//*profil edit*/
.prf-edt input{
		width: 300px;
		display: inline-block;
	}
	.prf-edt{
	padding: 15px;
	margin-left: 2%;
	min-width: 500px;
	max-width: 500px;
}
	.dispinblock{
		display: inline-block;
	}
	.prf-edt-paragr{
		display: inline-block;
		width: 120px;
	}
	.dateinput{
		width: 210px !important;
	}
	.radioinput{
		width: 40px !important;
	}
	.submit{
		text-align: center;
		width: 100%;
		padding-top: 30px;
	}
	.submitinput{
		margin-right: 20px;
	}
/*termin axtaris sehifesinin kodlari*/
.terminMain{
	width: 1024px;
}
.topBanner{
	width: 1024px;
	height: 100px;
	background: #ccc;
}
/*leftttt*/

.month{

	float: left;	
	color: #7c4dff;
	height: 404px;
	width: 773px;
	
	background-color:#F8F8FF;
	position: relative;
    right: 15px;


}
.mm{
	float: left;
	padding-top: 15px;
	color: blue;
	margin-left: 10px;
}
.term{
	float: left;
	padding-left: 10px;
	padding-top: 15px;
}
.sosial{
	float: right;
	padding: 15px;

}
i{
	padding: 5px;

}
.fa-facebook-official:hover{
  color: #3B5998;
}
.fa-twitter:hover{
	color: #3CF;
}
.fa-google-plus:hover{
	color: #DC4A38;
}
.fa-star:hover{
	color: #fdd835;
}
.fa-share-alt:hover{
	color: blue;
}
.demo{
	margin-top: 50px;
	color: red;
	font-family: Arial;
	font-size: 20px;	
	margin-left: 10px;
	padding-right: 100px;
}
.izah{
	margin-top: 20px;
	margin-left: 10px;
	color: grey;
	
}
.button{
	margin-top: 200px;
	float: left;
	padding: 10px;
	margin-left: 10px;
}
.fa-thumbs-o-up:active{
	background-color: rgba(40,138,121,1);
}
.fa-thumbs-o-down:active{
	background-color: rgba(40,138,121,1);
}
.yazar{
	float:left;
	margin-top: 220px;
	padding: 10px;
}
.random{
	float:right;
	margin-top: 200px;
	padding: 20px;
}



/*right-panel*/
#statistic {
    width: 250px;
    padding: 0px !important;
}

.most_search_term {
    height: 250px;
    text-align: center;
    margin-bottom: 1px;
}

.newest_term {
    height: 250px;
    text-align: center;
    margin-bottom: 1px;
}

.top_rated_wr {
    height: 250px;
    text-align: center;
}

.panel-body {
    padding: 5px;
}

.panel-heading {
    font-weight: bold;
		background: #3E4C4E !important;
		color: #fafafa !important;
		border-radius: 0px;
		border: 0px !important;
}
.a-clas{
	display: block;
	text-align: center;
}
.disp-block{
	display: inline-block;
}
.padreset{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.popular {
	background:white;
	/*height: 300px !important;*/
	padding-left: 30px !important;
	padding-right: 0px;
	color: #111111;
}
/*en chox oxunanin ichinde ul-nin style-i*/
.termins {
	list-style: none;
	padding-left: 0px;
	margin-right: 30px;
}
.forborder {
	border-right: 1px solid #dcdcdc;
}
.norightborder {
	border: none;
}
 li:last-child {
	border: none;
}
.article {
	background: url(../img/standard.png) no-repeat;
	padding-left: 24px;
	border-bottom: 1px solid #dcdcdc;
}
/**/
.article > h4 a{
	text-decoration: none;
	color:#111111;
}
/*display date of publishing*/
.date {
	display: block;
	margin-bottom: 10px;
}
/*alt divlerin heading-i, marginned mesafe teyin edirik */
.popular h3 {
	margin: 35px 0px 30px 0px;
}
/*termin elave et hissesin esas divinin kodlari*/
.addTerminMain{
	padding: 30px 0px 30px 30px;
}
/*Footer*/
.footMain{
	height: 100px;
	background: #292c2f;
	margin-top: 10px;
}
.copyRight{
	color: #fafafa;
	font-size: 1.3em;
	margin-top: 40px !important;
}
.social{
	margin-top: 30px;
}


