ul li{
	list-style-type: none;
}
.disable{
	display: none !important;
}
/*header hissesi*/
.headNav{
	margin-bottom: 0 !important;
	background: linear-gradient(to left, #009688 , #26A69A);
	border: none;
	border-radius: 0px;
}
.logo{
	color: #fff !important;
}
.topMenu *{
	color: #fff !important;
}
.dropdown-menu a{
	color: red !important;
}
.dropdown-toggle{
	background: #0f6f2e;
}
.topSearchIco{
	color: #555 !important;
}
/*termin elave et bolmesi*/
.terminForm{
	max-width: 400px;
}
.terminForm button[type="submit"]{
	background: rgb(63, 144, 32);
	color: #fff;
}
#terminInput{
	width: 200px;
}
/*qonaq termin elave et bolmesine daxil olduqda cixan sozun css-i*/
.addTerminMess{
	height: 447px;
}
/*axtaris hissesi*/
#search {
	height: 490px !important;
	/*background: linear-gradient(to bottom, #00bf8f , #001510) !important;*/

	background-size: cover;
	margin-bottom: 5px;
}
.searchGroup{
	margin-top: 200px !important;
	height: 50px;
}
.searchInp{
	height: 50px;
}
.searcForm{

}
.stylish-input-group .input-group-addon{
    background: white !important;
}

/*div with search input and search button*/
.stylish-input-group {
	padding-top: 150px !important;
}

/*form-control - class for search input*/
.stylish-input-group .form-control {
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.search_hover {
	background-color:#EBEBEB!important;
	color:#232323!important;
}

/*class for the search button which is inside the span tag*/
.input-group-addon button{
    border:0;
    background:transparent;
}

/*div for the result of an instant search*/
#output {
	max-height: 220px !important;
	border:1px solid #CCCCCC;
	padding: 0px;
	overflow-x: scroll !important;
}

#output ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

/*each result is inside the li tag*/
#output ul li {
	background-color:#FFFFFF;
	text-align: left;
}
/* profile page *//* profile page *//* profile page *//* profile page */
.my_main{
  height: 550px;
  padding: 0px !important;
}
.my_profile_leftside{
	/*background: linear-gradient(to top, #abbaab , #ffffff);*/
	background: linear-gradient(to bottom, #0E9C8F , #fff);
	color: #555;
	font-size: 1.1em;
  padding: 0px;
  height: 617px;
  overflow: hidden;
}
.addPhoto{
	background: green;
	border-radius: 50%;
}
.uploadBtn{
	margin-left: 25px;
	padding: 0px;
	width: 100%;
}
.uploadBtn li{
	display: inline !important;
	margin-right: 5px;
}
.mypara{
  display: inline-block;
  padding-top: 20px;
  font-size: 13px;
}
.my_profile{
  padding-top: 10px;
	padding-left: 20px;
  background: #fefefe;
  height: 615px;
}
.profilNav{
	margin-bottom: 20px;
}
.pp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
	margin-top: 50px;
	background-size: 100%100%;
}
.profil_username{
	margin-top: 30px !important;
  font-size: 1.6em !important;
	text-transform: capitalize;
}
@media (min-width: 144px) {
  .pp{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../img/pf.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 12px;
}
}
@media (min-width: 480px) {
  .pp{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(../img/pf.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 14px;
}
}
@media (min-width: 768px) {
  .pp{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../img/pf.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 17px;
}
}
@media (min-width: 992px) {
  .pp{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../img/pf.png);
  background-size: cover;
}
.profil_username{
  padding-left: 1px;
  padding-right: 1px;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .pp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../img/pf.png);
  background-size: cover;
}
}
/*my termin*//*my termin*//*my termin*//*my termin*//*my termin*/
.my_termin{
		margin-top: 10px;
		padding: 2px;
		padding-left: 10px;
		border-radius: 4px;
		border: 2px dotted #ccc;
		max-width: 800px;
	}
	.desct{
		margin-bottom: 0px !important;
		color: #404040;
	}
	#div1 {

    width: 80%;
    text-overflow: clip;
    display: inline-block;
}
.disp_in-block{
	display: inline-block;
}
.float_r{
	float: right;
}
.edit_button{
	width: 25px;
	height: 20px;
	border:0px;
	margin-top:5px;
	border-radius: 5px;
	margin-right: 3px;
	background: #2A60DE;
}
	.delete_glyphico{
		width: 35px;
		height: 38px;
		border:0px;
		border-radius: 5px;
		margin-right: 3px;
		margin-top: 8px;
		background: #ff4d4d;
	}
	.date{
		font-size: 14px;
		color: gray;
	}
	.date_time{
		color: lightgray;
		font-size: 12px;
	}
	.date_div{
		margin-right: 15px;

		/*margin-top:*/
	}
	.glyphicon-trash,.edit_button{
		color: white;
	}
/*my termin pagenation css*/
.current a{
	background: #03A9F4 !important;
	color: #fafafa !important;
}
	/*bookmarks*//*bookmarks*//*bookmarks*//*bookmarks*/
	.bookmark{
		margin-top: 10px;
		padding: 2px;
		padding-left: 10px;
		border-radius: 6px;
		box-shadow:0px 1px 7px rgba(50, 50, 50, 0.93);
	}
	.desct{
		margin-bottom: 0px !important;
		color: #404040;
		display: inline;
		line-height: 230%;
	}
	.editable{
     color: #000;
     background-color: #ffffd3;
 }
/*profil edit*//*profil edit*//*profil edit*//*profil edit*/
.prf-edt input{
		width: 300px;
		display: inline-block;
	}
	.prf-edt{
	margin-left: 10px;
	min-width: 500px;
	max-width: 500px;
}
	.dispinblock{
		display: inline-block;
	}
	.prf-edt-paragr{
		display: inline-block;
		width: 120px;
	}
	.dateinput{
		width: 210px !important;
	}
	.radioinput{
		width: 40px !important;
	}
	.submit{
		text-align: center;
		width: 100%;
		padding-top: 30px;
	}
	.submitinput{
		margin-right: 20px;
	}
/*termin axtaris sehifesinin kodlari*/
.terminMain{
	width: 1024px;
}
.topBanner{
	width: 1024px;
	height: 100px;
	background: #fafafa;
}
.likeUnlike li{
	list-style-type: none;
	display: inline;
}
.likeUnlike{
	padding: 0px !important
}
.terminLeft{
	background: #fefefe;
	height: 400px;
	width: 650px;
	padding: 0;
}
.terminRight{
	height: 600px;
	width: 370px;
}
.sliderTermin{
	height: 100px;
	background: #fafafa;
	padding: 0px;
}
.terminResult{
	height: 400px;
	background: #fff;
}
/*right-panel*/
#statistic {
    width: 250px;
    padding: 0px !important;
}
.headList{
	background: #07998B;
	color: #fff;
}
.rightList {
    text-align: center;
    margin-bottom: 1px;
		width: 100%;
}
.listItem{
	padding-top: 5px !important;
	padding-bottom: 4px !important;
}
.newest_term {
    height: 250px;
    text-align: center;
    margin-bottom: 1px;
}

.top_rated_wr {
    height: 250px;
    text-align: center;
}

.panel-body {
    padding: 5px;
}

.panel-heading {
    font-weight: bold;
		background: #009688 !important;
		color: #fff !important;
		border-radius: 5px 5px 0px 0px ;
		border: 0px  !important;
}
.a-clas{
	display: block;
	text-align: center;
}
.disp-block{
	display: inline-block;
}
.padreset{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.popular {
	background:white;
	/*height: 300px !important;*/
	padding-left: 30px !important;
	padding-right: 0px;
	color: #111111;
}
/*en chox oxunanin ichinde ul-nin style-i*/
.termins {
	list-style: none;
	padding-left: 0px;
	margin-right: 30px;
}
.forborder {
	border-right: 1px solid #dcdcdc;
}
.norightborder {
	border: none;
}
 li:last-child {
	border: none;
}
.article {
	/*background: url(../img/standard.png) no-repeat;*/
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}
/**/
.article > h4 a{
	text-decoration: none;
	color:#111111;
	margin-top: 15px !important;
}
/*display date of publishing*/
.date {
	display: block;
	margin-bottom: 10px;
}
/*alt divlerin heading-i, marginned mesafe teyin edirik */
.popular h3 {
	margin: 35px 0px 30px 0px;
}
/*termin elave et hissesin esas divinin kodlari*/
.addTerminMain{
	padding: 30px 0px 30px 30px;
}
/*Footer*/
.footMain{
	height: 100px;
	background: linear-gradient(to bottom, #26A69A , #267871);
	margin-top: 10px;
}
.copyRight{
	color: #fafafa;
	font-size: 1.3em;
	margin-top: 40px !important;
}
.social{
	margin-top: 30px !important;
}
.social li{
	display: inline;
}
.social > li > a:link > span > i{
	background: #333333 !important;
	border-radius: 50%;
}
.social > li > a > span > i:hover{
	background: #fff !important;
	border-radius: 50%;
	color: #333333;
}
<<<<<<< HEAD

.btn-primary-outline {
  color: #0275d8;
  background-color: transparent;
  background-image: none;
  border-color: #0275d8;
}

.btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary-outline:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary-outline.disabled:focus, .btn-primary-outline.disabled.focus, .btn-primary-outline:disabled:focus, .btn-primary-outline:disabled.focus {
  border-color: #43a7fd;
}

.btn-primary-outline.disabled:hover, .btn-primary-outline:disabled:hover {
  border-color: #43a7fd;
}
=======
/*slidetermin*/
.carousel-inner > .item > img,
  .carousel-inner > .item > .word > ul > a > p {
      width: 40%;
      margin: auto;
  }
.smrSlider{
	position: inherit !important;
}
  .word{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
	.word p{
		text-align: center;
	}
/*wrapper for slide*/
 .smr{
  width: 100%;
  height: 100px;
 }

.trmn{
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
}
>>>>>>> 67aa01b6f9c662955b3686a896f8464412207fb8
