/*header hissesi*/
.headNav{
	margin-bottom: 0 !important;
	background: #3E4C4E;
	border: none;
	border-radius: 0px;
}
.topMenu *{
	color: #fff !important;
}
.dropdown-menu a{
	color: red !important;
}
.dropdown-toggle{
	background: #0f6f2e;
}
.topSearchIco{
	color: #555 !important;
}
/*termin elave et bolmesi*/
.terminForm{
	max-width: 400px;
	margin-left: 100px;
	margin-top: 20px;
}
.terminForm button[type="submit"]{
	background: rgb(63, 144, 32);
	color: #fff;
}
#terminInput{
	width: 200px;
}
/*axtaris hissesi*/
#search {
	height: 550px;
	border-top: none;
	background: #eee;
}
.searchGroup{
	margin-top: 230px;
	height: 50px;
}
.searchInp{
	height: 50px;
}
.searcForm{

}
.stylish-input-group .input-group-addon{
    background: white !important;
}

/*div with search input and search button*/
.stylish-input-group {
	padding-top: 150px !important;
}

/*form-control - class for search input*/
.stylish-input-group .form-control {
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.search_hover {
	background-color:#EBEBEB!important;
	color:#232323!important;
}

/*class for the search button which is inside the span tag*/
.input-group-addon button{
    border:0;
    background:transparent;
}

/*div for the result of an instant search*/
#output {
	border:1px solid #CCCCCC;
	padding: 0px;
}

#output ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

/*each result is inside the li tag*/
#output ul li {
	background-color:#FFFFFF;
	text-align: left;
}
