/*header hissesi*/
.headNav{
	margin-bottom: 0 !important;
}
/*termin elave et bolmesi*/
.terminForm{
	max-width: 400px;
}
#terminInput{
	width: 200px;
}
/*main div where search bar is placed*/
.main {
	height: 550px;
	border-top: none;
	background: #ccc;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}

/*div with search input and search button*/
.stylish-input-group {
	padding-top: 150px !important;
}

/*form-control - class for search input*/
.stylish-input-group .form-control {
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.search_hover {
	background-color:#EBEBEB!important;
	color:#232323!important;
}

/*class for the search button which is inside the span tag*/
.input-group-addon button{
    border:0;
    background:transparent;
}

/*div for the result of an instant search*/
#output {
	border:1px solid #CCCCCC;
	padding: 0px;
}

#output ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

/*each result is inside the li tag*/
#output ul li {
	background-color:#FFFFFF;
	text-align: left;
}
